.bord {
    border: 1px solid #B6D14B;
    border-radius: 10px;
}

[nz-button] {
    margin-right: 8px;
    margin-bottom: 12px;
}

.example {
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 4px;
    margin-bottom: 20px;
    padding: 30px 50px;
    margin: 20px 0;
    height: 480px;
    line-height: 400px;
  }